.navadrop{
    background-color: inherit;
    overflow: hidden;  
}

.navadrop a{
  float: right;
  color: purple;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px; 
  padding-top: 2%; 


}
.navadrop a:hover{
    color: white;
    background-color: black;
}

.dropdown {
    float: right;
    overflow: hidden;
    padding-top: 1%;
    
}
.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    color: purple;
    outline: none;
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    
}

.navdrop:hover, .dropdown:hover .dropbtn {
background-color: black;
color:rgb(132, 145, 145)
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba( 0, 0, 0.2);
    z-index: 1;
    
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:black;
}

.dropdown:hover .dropdown-content{
    display: block;
}
